<% var title = 'Formulaire inscription' %>
<% include head %>

<h2>Inscrivez-vous</h2>  
    <form class="inscription" action="lpsil-master/req_inscription.js" method="post" name="inscription">  
        <span class="required_notification">Les champs obligatoires sont indiqués par *</span>  
        <ul>  
            </li>  
            <li>  
                <label for="email">E-mail :</label>  
                <input type="email" name="email" id="email" autofocus required/>  
                <span class="form_hint">Format attendu "name@something.com"</span>  
            </li>  

                <li>  
                <label for="mdp1">Mot de passe :</label>  
                <input type="password" name="password" id="mdp1" pattern="\w{6,8}" placeholder="Mot de passe ..." onkeyup="validateMdp2()" title = "Le mot de passe doit contenir de 6 à 8 caractères alphanumériques." required>   
                <span class="form_hint">De 6 à 8 caractères alphanumériques.</span>  
            </li>  
            <li>  
                <label for="mdp2">Confirmez mot de passe :</label>  
                <input type="password" id="mdp2" placeholder="Confirmation ..." required onkeyup="validateMdp2()">  
                <span class="form_hint">Les mots de passes doivent être égaux.</span>  

                <script>  
                    function validateMdp2() {  
                        var mdp1 = document.getElementById('mdp1'); 
                        var mdp2 = document.getElementById('mdp2');
                        if (mdp1.validity.valid && (mdp1.value == mdp2.value)) {  
                            // ici on supprime le message d'erreur personnalisé, et du coup mdp2 devient valide.
                            document.getElementById('mdp2').setCustomValidity('');  
                        } else {  
                            // ici on ajoute un message d'erreur personnalisé, et du coup mdp2 devient invalide.
                            document.getElementById('mdp2').setCustomValidity('Les mots de passes doivent être égaux.');  
                        }  
                    }  

                    computeAge = function(e) 
				{  
                    try
					{  
                        // j'affiche dans la console quelques objets javascript, ce qui devrait vous aider.  
                        console.log(Date.now());  
                        console.log(document.getElementById("birthdate"));  
                        console.log(document.getElementById("birthdate").value);  
                        console.log(Date.parse(document.getElementById("birthdate").value));  
                        console.log(new Date(0).getYear());  
                        console.log(new Date(65572346585).getYear());  
						console.log(document.getElementById("age"));
						// modifier ici la valeur de l'élément age
						var dateAtuel = new Date();
						var anneeActuel = dateAtuel.getYear();
						var moiActuel = dateAtuel.getMonth();
						var jourActuel = dateAtuel.getDay();
						var dateNaissance = Date.parse(document.getElementById("birthdate").value);
						var anneeNaissance = new Date(dateNaissance).getYear();
						var moiNaissance = new Date(dateNaissance).getMonth();
						var jourNaissance = new Date(dateNaissance).getDay();
						if(moiActuel < moiNaissance)
						{
							document.getElementById("age").value = anneeActuel - anneeNaissance;
						}
						else if(moiActuel > moiNaissance)
						{
							document.getElementById("age").value = anneeActuel - anneeNaissance;
						}
						else
						{
							if(jourActuel < jourNaissance)
							{
								document.getElementById("age").value = anneeActuel - anneeNaissance;
							}
							else
							{
								document.getElementById("age").value = anneeActuel - anneeNaissance;
							}
						}
					}
					catch(e) 
					{  
						document.getElementById("age").value = "";
					}  
				}  
                </script>  

            <li>  
                <label for="birthdate">Date de naissance:</label>  
                <input type="date" name="birthdate" id="birthdate" placeholder="JJ/MM/AAAA" required onchange="computeAge()"/>  
                <span class="form_hint">Format attendu "JJ/MM/AAAA"</span>  
            </li>  
            <li>  
                <label for="age">Age:</label>  
                <input type="number" name="age" id="age" disabled/>  
            </li>  

            <li>  
                <label for="prenom">Prénom :</label>  
                <input type="text" name="prenom" id="prenom" placeholder="Prénom ..." required/>  

            </li>
            <li>  
                <label for="nom">Nom :</label>  
                <input type="text" name="nom" id="nom" placeholder="Nom ..."/>  
            </li>
            <li>  
                <label for="tel">Tél :</label>  
                <input type="tel" name="tel" id="tel" placeholder="Numéro ..."/>  
            </li>
            <li>  
                <label for="siteweb">Site Web :</label>  
                <input type="url" name="siteweb" id="siteweb" placeholder="Lien de votre site ..."/>  
            </li>
            <li>  
                <label for="sexe">Sexe :</label>  
                <input type="radio" name="sexe" value="Homme"/>Homme
                <input type="radio" name="sexe" value="Femme"/>Femme
            </li>
            <li>  
                <label for="ville">Ville :</label>  
                <input type="text" name="ville" id="ville" placeholder="Ville ..."/>  
            </li>
            <li>  
                <label for="taille">Taille :</label>
                <input type="range" name="taille" min="0" max="2.50" step="0.01" onchange="miseAJourTaille(this.value);">
                <input type="text" id="majtaille" value="" readonly disabled>
            </li>

            <script>
            function miseAJourTaille(val) {
                    document.getElementById('majtaille').value=val; 
                    }
            </script>

            <li>  
                <label for="color">Couleur préférée :</label>  
                <input type="color" name="color" id="color"/>  
            </li>

            <li>  
            <label for="profilepicfile">Photo de profil:</label>  
            <input type="file" id="profilepicfile" onchange="loadProfilePic(this)"/>  
            <span class="form_hint">Choisissez une image.</span>  
            <input type="hidden" name="profilepic" id="profilepic"/>  
            <canvas id="preview" width="0" height="0"></canvas>


            <script>  
                loadProfilePic = function (e) {  
                    // on récupère le canvas où on affichera l'image  
                    var canvas = document.getElementById("preview");  
                    var ctx = canvas.getContext("2d");  
                    // on réinitialise le canvas: on l'efface, et déclare sa largeur et hauteur à 0  
                    ctx.fillRect(0,0,canvas.width,canvas.height);  
                    canvas.width=0;  
                    canvas.height=0;  
                    // on récupérer le fichier: le premier (et seul dans ce cas là) de la liste  
                    var file = document.getElementById("profilepicfile").files[0];  
                    // l'élément img va servir à stocker l'image temporairement  
                    var img = document.createElement("img");  
                    // l'objet de type FileReader nous permet de lire les données du fichier.  
                    var reader = new FileReader();  
                    // on prépare la fonction callback qui sera appelée lorsque l'image sera chargée  
                    reader.onload = function(e) {  
                        //on vérifie qu'on a bien téléchargé une image, grâce au mime type  
                        if (!file.type.match(/image.*/)) {  
                            // le fichier choisi n'est pas une image: le champs profilepicfile est invalide, et on supprime sa valeur  
                            document.getElementById("profilepicfile").setCustomValidity("Il faut télécharger une image.");  
                            document.getElementById("profilepicfile").value = "";  
                        }  
                        else {  
                            // le callback sera appelé par la méthode getAsDataURL, donc le paramètre de callback e est une url qui contient   
                            // les données de l'image. On modifie donc la source de l'image pour qu'elle soit égale à cette url  
                            // on aurait fait différemment si on appelait une autre méthode que getAsDataURL.  
                            img.src = e.target.result;  
                            // le champs profilepicfile est valide  
                            document.getElementById("profilepicfile").setCustomValidity("");  
                            var MAX_WIDTH = 96;  
                            var MAX_HEIGHT = 96;  
                            var width = img.width;  
                            var height = img.height;  
   
                            var max = width > height ? width : height;
                            width = width * MAX_WIDTH / max;
                            height = height * MAX_HEIGHT / max;  
                              
                            canvas.width = width;  
                            canvas.height = height;  
                            // on dessine l'image dans le canvas à la position 0,0 (en haut à gauche)  
                            // et avec une largeur de width et une hauteur de height  
                            ctx.drawImage(img, 0, 0, width, height);  
                            // on exporte le contenu du canvas (l'image redimensionnée) sous la forme d'une data url  
                            var dataurl = canvas.toDataURL("image/png");  
                            // on donne finalement cette dataurl comme valeur au champs profilepic  
                            document.getElementById("profilepic").value = dataurl;  
                        };  
                    }  
                    // on charge l'image pour de vrai, lorsque ce sera terminé le callback loadProfilePic sera appelé.  
                    reader.readAsDataURL(file);  
                }  
            </script>  

        </li>


        <li>  
                <input type="submit" value="Soumettre Formulaire">  
        </li>  
        
        </ul>  
    </form>


<% include foot %>